extends ../../layout/layout

block variables
  -
    const pageName = 'main'
    const pageTitle = 'Main'

block content
  main.main
    .inner
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga molestiae quam deserunt corrupti. Amet commodi, vero exercitationem doloremque blanditiis hic repudiandae quia, necessitatibus dolores eaque magni temporibus aliquam quis eius! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga molestiae quam deserunt corrupti. Amet commodi, vero exercitationem doloremque blanditiis hic repudiandae quia, necessitatibus dolores eaque magni temporibus aliquam quis eius! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga molestiae quam deserunt corrupti. Amet commodi, vero exercitationem doloremque blanditiis hic repudiandae quia, necessitatibus dolores eaque magni temporibus aliquam quis eius! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga molestiae quam deserunt corrupti. Amet commodi, vero exercitationem doloremque blanditiis hic repudiandae quia, necessitatibus dolores eaque magni temporibus aliquam quis eius! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga molestiae quam deserunt corrupti. Amet commodi, vero exercitationem doloremque blanditiis hic repudiandae quia, necessitatibus dolores eaque magni temporibus aliquam quis eius! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga molestiae quam deserunt corrupti. Amet commodi, vero exercitationem doloremque blanditiis hic repudiandae quia, necessitatibus dolores eaque magni temporibus aliquam quis eius! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga molestiae quam deserunt corrupti. Amet commodi, vero exercitationem doloremque blanditiis hic repudiandae quia, necessitatibus dolores eaque magni temporibus aliquam quis eius! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga molestiae quam deserunt corrupti. Amet commodi, vero exercitationem doloremque blanditiis hic repudiandae quia, necessitatibus dolores eaque magni temporibus aliquam quis eius! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga molestiae quam deserunt corrupti. Amet commodi, vero exercitationem doloremque blanditiis hic repudiandae quia, necessitatibus dolores eaque magni temporibus aliquam quis eius!
